// Variables avec namespace
$font_f_titre: "Playfair Display", serif;
$font_f_txt: Calibri, Arial, sans_serif;

$font_s_xs: .5rem;
$font_s_s: .75rem;
$font_s_m: 1rem;
$font_s_l: 1.25rem;
$font_s_xl: 1.5rem;
$font_s_xxl: 3rem;

$color_primary: #a5ffa9;